/* .icon-left {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
} */

.season-display.winter i {
  color: #a2acad;
}

.season-display.summer i {
  color: #00769a;
}

.season-display.fall i {
  color: #bf6c3c;
}

.season-display.spring i {
  color: #19255a;
}
/* .season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: #f4d3c4;
}

.spring {
  background-color: #ecdf4a;
}

.fall {
  background-color: #ffd8a4;
}

.season-name {
  text-transform: uppercase;
}

.footer-name {
  font-family: "Birthstone Bounce", cursive;
}
